
<page-header title="代理详情"></page-header>
<nz-card [nzActions]="[actionBack]" [nzBordered]="false">
    <nz-descriptions nzTitle="详细信息" [nzBordered]="true" [nzColumn]="3">
        <nz-descriptions-item nzTitle="编码">{{model.code}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="姓名">{{model.name}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="上级代理标识">{{model.parentId}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="代理路径">{{model.agentPath}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="支付宝帐号">{{model.alipayAccount}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="个人微信号">{{model.weChatAccount}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="邮箱">{{model.email}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="手机">{{model.mobile}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="开户银行">{{model.bank}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="开户名">{{model.bankUser}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="银行卡号">{{model.bandNumber}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="联系QQ">{{model.qq}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="启用"><i *ngIf="model.enabled" nz-icon="" nzType="check"></i><i *ngIf="!(model.enabled)" nz-icon="" nzType="close"></i></nz-descriptions-item>
        <nz-descriptions-item nzTitle="提现总额">{{model.cashOutTotal}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="备注">{{model.note}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="状态">{{model.state}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="创建时间">{{ model.creationTime | date:"yyyy-MM-dd" }}</nz-descriptions-item>
    </nz-descriptions>
    <ng-template #actionBack="">
        <x-button (onClick)="back()" text="返回"></x-button>
    </ng-template>
</nz-card>