
<page-header title="编辑代理"></page-header>
<nz-card [nzBordered]="false">
    <form #form="ngForm" nz-form="">
        <nz-form-item [nzGutter]="16"><nz-form-label [nzRequired]="true" [nzSpan]="3">编码</nz-form-label><nz-form-control [nzSpan]="18"><x-textbox name="code" requiredMessage="编码不能为空" [(model)]="model.code" [maxLength]="20" [required]="true"></x-textbox></nz-form-control></nz-form-item>
        <nz-form-item [nzGutter]="16"><nz-form-label [nzRequired]="true" [nzSpan]="3">姓名</nz-form-label><nz-form-control [nzSpan]="18"><x-textbox name="name" requiredMessage="姓名不能为空" [(model)]="model.name" [maxLength]="200" [required]="true"></x-textbox></nz-form-control></nz-form-item>
        <nz-form-item [nzGutter]="16"><nz-form-label [nzSpan]="3">上级代理标识</nz-form-label><nz-form-control [nzSpan]="18"><x-textbox name="parentId" [(model)]="model.parentId"></x-textbox></nz-form-control></nz-form-item>
        <nz-form-item [nzGutter]="16"><nz-form-label [nzSpan]="3">代理路径</nz-form-label><nz-form-control [nzSpan]="18"><x-textbox name="agentPath" [(model)]="model.agentPath" [maxLength]="200"></x-textbox></nz-form-control></nz-form-item>
        <nz-form-item [nzGutter]="16"><nz-form-label [nzSpan]="3">支付宝帐号</nz-form-label><nz-form-control [nzSpan]="18"><x-textbox name="alipayAccount" [(model)]="model.alipayAccount" [maxLength]="200"></x-textbox></nz-form-control></nz-form-item>
        <nz-form-item [nzGutter]="16"><nz-form-label [nzSpan]="3">个人微信号</nz-form-label><nz-form-control [nzSpan]="18"><x-textbox name="weChatAccount" [(model)]="model.weChatAccount" [maxLength]="200"></x-textbox></nz-form-control></nz-form-item>
        <nz-form-item [nzGutter]="16"><nz-form-label [nzSpan]="3">邮箱</nz-form-label><nz-form-control [nzSpan]="18"><x-textbox name="email" [(model)]="model.email" [maxLength]="200"></x-textbox></nz-form-control></nz-form-item>
        <nz-form-item [nzGutter]="16"><nz-form-label [nzRequired]="true" [nzSpan]="3">手机</nz-form-label><nz-form-control [nzSpan]="18"><x-textbox name="mobile" requiredMessage="手机不能为空" [(model)]="model.mobile" [maxLength]="20" [required]="true"></x-textbox></nz-form-control></nz-form-item>
        <nz-form-item [nzGutter]="16"><nz-form-label [nzSpan]="3">开户银行</nz-form-label><nz-form-control [nzSpan]="18"><x-number-textbox name="bank" [(model)]="model.bank"></x-number-textbox></nz-form-control></nz-form-item>
        <nz-form-item [nzGutter]="16"><nz-form-label [nzSpan]="3">开户名</nz-form-label><nz-form-control [nzSpan]="18"><x-textbox name="bankUser" [(model)]="model.bankUser" [maxLength]="20"></x-textbox></nz-form-control></nz-form-item>
        <nz-form-item [nzGutter]="16"><nz-form-label [nzSpan]="3">银行卡号</nz-form-label><nz-form-control [nzSpan]="18"><x-textbox name="bandNumber" [(model)]="model.bandNumber" [maxLength]="50"></x-textbox></nz-form-control></nz-form-item>
        <nz-form-item [nzGutter]="16"><nz-form-label [nzSpan]="3">联系QQ</nz-form-label><nz-form-control [nzSpan]="18"><x-textbox name="qq" [(model)]="model.qq" [maxLength]="12"></x-textbox></nz-form-control></nz-form-item>
        <nz-form-item [nzGutter]="16"><nz-form-label [nzSpan]="3">启用</nz-form-label><nz-form-control [nzSpan]="18"><nz-switch name="enabled" [(ngModel)]="model.enabled">启用</nz-switch></nz-form-control></nz-form-item>
        <nz-form-item [nzGutter]="16"><nz-form-label [nzSpan]="3">提现总额</nz-form-label><nz-form-control [nzSpan]="18"><x-number-textbox name="cashOutTotal" [(model)]="model.cashOutTotal"></x-number-textbox></nz-form-control></nz-form-item>
        <nz-form-item [nzGutter]="16"><nz-form-label [nzSpan]="3">备注</nz-form-label><nz-form-control [nzSpan]="18"><x-textbox name="note" [(model)]="model.note" [maxLength]="500"></x-textbox></nz-form-control></nz-form-item>
        <nz-form-item [nzGutter]="16"><nz-form-label [nzRequired]="true" [nzSpan]="3">状态</nz-form-label><nz-form-control [nzSpan]="18"><x-number-textbox name="state" requiredMessage="状态不能为空" [(model)]="model.state" [required]="true"></x-number-textbox></nz-form-control></nz-form-item>
        <nz-form-item [nzGutter]="16">
            <nz-form-control [nzOffset]="2" [nzSpan]="18">
                <x-button #btnSubmit="" (onClick)="submit(form,btnSubmit)" class="mr-sm" color="primary" [validateForm]="true"></x-button>
                <x-button (onClick)="back()" text="返回"></x-button>
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-card>